<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sherfin.mapper.PrivilegeGroupMapper">
  <resultMap id="BaseResultMap" type="com.sherfin.mapperBean.PrivilegeGroup">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="PARENT_ID" jdbcType="BIGINT" property="parentId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
  </resultMap>
</mapper>